:root {
    --secondary-text-color: #757575;
    --background-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-background-color:#E5E5E5;
    --section-background-color: rgba(47, 48, 58, 0.8);
    --team-section-background: #F5F4FA;
    --footer-color: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-copyright-color: rgba(255, 255, 255, 0.4)
}

/* цвет основного текста #212121; */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* синий акцент #2196F3 */
/* background: #E5E5E5 */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: roboto, sans-serif;
    margin: 0;
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-header {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    background-color: var(--background-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

.page-header .nav {
    display: flex;
    align-items: center;
} 

.logo-item {
    color: var(--accent-color);
    font-weight: 700;
}

.logo {
    color: var(--title-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
/* Навигация по сайту */

.site-nav {
    display: flex;
    margin-left: 86px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0px;
}

.site-nav-list a {
    color: var(--title-text-color);
}

.site-nav-item {
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}


.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav-item {
    text-decoration: none;
}

.auth-nav .item {
    margin-right: 30px;
}

.auth-nav .item + .item {
    margin-right: 0px;
}

.site-nav,
.auth-nav {
    letter-spacing: 0.02em;
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
.auth-nav a {
    color: var(--secondary-text-color);
}
.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--accent-color);
}

.container-header {
    display: flex;
}



/* Hero */
.text-title {
    color: var(--background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 46px; 
}

.team-section,
.text,
.feature-section,
.option-section,
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.text {
    background-color: var(--section-background-color);
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 244px;
    
}

.button {
    color: var(--background-color);
    background-color: #2196F3;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    height: 50px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    border-style: none;
}

/* Секция преимущества */


.feature-section h2 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
}

.header {
    margin-top: 0px;
    margin-bottom: 50px;
}

.features-list p {
    color: var(--secondary-text-color); 
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
}

.features-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
}

.features-list :last-child {
    margin-bottom: 0px;
    margin-top: 0px;
}

.features-list {
    background-color: var(--background-color); 
    letter-spacing: 0.03em;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    display: flex;
}

.features-list li {
    width: 270px;
    margin-right: 30px;
    width: 380px;
}

.features-list li:last-child {
    margin-right: 0px;
}


.option-section h2 {
    justify-content: center;
    display: flex;
}


.option-section h2 {
    font-size: 36px;
}

.option-image {
    display: block;
}

.option-list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}

.option-list li {
    margin-right: 30px;
    width: 370px;
}

.option-list li:last-child {
    margin-right: 0;
}


.option-list p {
    background-color: var(--section-background-color);
    color: var(--background-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Секция команды */

.image {
    margin-bottom: 30px;
}


.team-section-list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
}

.team-section-list li {
    background-color: var(--background-color);
    list-style: none;
    width: 270px;
}

.team-section-list {
    display: flex;
    justify-content: center;
}

.team-section-list h3,
.team-section-list p {
    display: flex;
    justify-content: center;
}

.secondary-list {
    display: flex;
    padding-left: 0px;
    margin-right: 0px;
    justify-content: center;
}

.secondary-list li {
    width: 20px;
}

.secondary-list .item + .item {
    margin-left: 39px;
}

.team-section h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
}

.team-section h2 {
    font-size: 36px;
    justify-content: center;
    display: flex;
}
.team-section {
    background-color: var(--team-section-background); 
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;
}

.team-section-list .item + .item {
    margin-left: 30px;
}

.team-section p {
    color: var(--secondary-text-color);
    margin-top: 0px;
    margin-bottom: 28px;
}


.clients h2 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.clients-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.clients-list .item + .item {
    margin-left: 30px;
}

/* Footer */

.footer {
    background-color: var(--footer-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 21px;
}

.div-flex {
    display: flex;
    justify-content: space-around;
}

.first-div {
    width: 231px;
}

.second-div {
    width: 207px;
    list-style: none;
}

.footer a:hover,
.footer a:focus {
color: var(--accent-color);
}

.logotype-item, .studio-item {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
}

.logotype-item {
    color: var(--accent-color);
}
.studio-item {
    color: var(--background-color);
}
.content {
    color: var(--background-color);
    font-style: normal;
    margin-top: 10px;
}

.contacts {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contacts li {
    margin-top: 10px;
}

.contacts a {
    color: var(--footer-contacts-color);
    text-decoration: none;
}

.socials {
    color: var(--background-color);
    font-weight: 700;
    text-transform: uppercase;
}

.socials-list {
    width: 207px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.socials-list li {
    width: 44px;
}

.second-div ul {
    list-style: none;
    display: flex;
    padding-left: 0px;
}

.second-div p, .third-div p {
    margin-top: 0px;
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
}

.third-div {
    width: 219px;
}

.socials-list li {
    display: flex;
    justify-content: start;
}

.socials-list .item {
    display: flex;
    justify-content: start;
}

.second-div ul .item + .item {
    margin-left: 10px;
}

.form {
    color: var(--background-color);
    font-weight: 700;
    text-transform: uppercase;
}
.copy {
    color: var(--footer-copyright-color);
    font-size: 12px;
    margin-top: 46px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
}

.list {
    background-color: var(--team-section-background);
}


/* Portfolio page */

/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */


.list-item:hover,
.list-item:focus {
    color: var(--accent-color);
}

.page-header {
    background-color: var(--background-color);
}

.site-nav a {
    color: var(--title-text-color);
}

.list-item {
    color: var(--title-text-color);
    list-style: none;
}

.list-item-portfolio p {
color: var(--secondary-text-color);
}

.list-item-portfolio {
    list-style: none;
}


/* Buttons */

.title {
    display: none;
}

.project-list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-bottom: 50px;  
    display: flex;
    justify-content: center;
}

.project-list .list-item + .list-item {
    margin-left: 8px;
}

.web-icon {
    padding-bottom: 20px;
}

.project-list button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
}

.list-item-portfolio {
    width: 380px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.list-item-portfolio:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 4px;
}

.portfolio-list p:hover {
    color: var(--accent-color);
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: start;
    padding-bottom: 20px;
}

.secondary-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 2.3;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}

